.git
.gitignore
.idea
.venv
.DS_Store
.playwright-mcp
.pytest_cache
.ruff_cache
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
**/*.pyc
**/*.pyo
**/*.pyd
*.log
.env
*.keystore*
images
test_*.py
test_*.sh
