# Provide one of the following:
GENAI_TOKEN=
KEYSTORE_PATH=

# If you enable KEYSTORE_PATH above, uncomment the volume in docker-compose.yml
# and use this in-container path:
# KEYSTORE_PATH=/app/docker-deploy.keystore

APP_PORT=5000
PROXY_API_KEY=
APP_DEBUG=0

CLAUDE_HAIKU_MODEL=qwen-instruct
CLAUDE_SONNET_MODEL=qwen-instruct
CLAUDE_OPUS_MODEL=deepseek-v3:671b
